.box {
    background-color: rgb(70, 98, 255);
    height: 100px;
    width: 100px;
    margin: 5px;
}
.box1 {
    background-color: rgb(70, 98, 255);
    height: 100px;
    width: 100px;
    margin: 5px;
}